@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.banner{
    width: 100%;
    min-height: 80%;
    background-color: #FC758C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFEFE;
    flex-direction: column;    
    margin-top: 2rem;
}
.banner__title{
    text-align: center;
    letter-spacing: 1rem;
    padding: 2rem;
    font-weight: bold;
}
.banner__subtitle{
    text-align: center;
    font: 400 1.1rem/1.2 'Questrial', sans-serif ;
    color: #FEDEE3;
    letter-spacing: 0.23rem;
    margin-left: 1rem;
    margin-right: 1rem;

}
.banner__button{
    width: 113px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FC758C;
    background-color: #FFFEFE;
    text-decoration: none;
    margin-top: 4rem;
    font-size: 0.7rem;
    letter-spacing: 0.11rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.banner__button:hover{
    color: #ffffff;
    background-color: rgba(226, 50, 79, 0.603);
}