@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.footer{
    margin-top: 4rem;
}
.footer__right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #C2CFD7;
    font-family: 'Montserrat';
    font-size: 0.9rem;
    letter-spacing: 0.11rem;
    margin-bottom: 3rem;
}
.footer__text{
    color: #FF5672;
}
.footer__div_social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social_icon{
    color: #C2CFD7;
    margin: 0.5rem;
}