@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
}
.grid__optionView{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
svg{
    margin: 1rem;
    cursor: pointer;
}
.grid__filter_list{
    list-style: none;
    max-width: 100%;
    align-items: center;   
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
    display: flex; 
    transition: .3s ease-in-out;
}
.grid__filter_item{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.11rem;
    color: #7B7B7B;
    cursor: pointer;
}
.grid__filter_item:hover{
    background-color: #FF5672;
    padding: 0.4rem 1.2rem;
    color: white;
}
.grid__filter_item:last-child{
    margin-right: 0;
}
.grid__filter_item:first-child{
    margin-left: 0;
}
.grid__filter_item.is-active{
    background-color: #FF5672;
    padding: 0.4rem 1rem;
    color: white;
}
.grid__container{
    max-width: 100%;
    justify-content: center;
    columns: 1;
    gap: 0.2rem;
    transition: .3s ease-in-out;
}
.grid__box{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
    transition: .3s ease-in-out;
}
.grid__img{
    width: 100%;
    transition: .3s ease-in-out;
}
.grid__div_button{
      display: flex;
      align-items: center;
      justify-content: center;
  }
.grid__button{
    width: 113px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    margin-top: 4rem;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    letter-spacing: 0.11rem;
    background-color: #ff5773;
}
.grid__button:hover{
    background-color: #e2324f;
}
@media (min-width:48em){
    .grid__container{
        columns: 2;
    }
}
@media (min-width:62em){
    .grid__container{
        columns: 3;
        max-width: 70%;
    }
}
